@import 'styles/theme.scss';

.product {
  &-name {
    font-size: 18px;
    color: $gray-01;
  }
  &-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow: hidden;

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;

      & .title-icon {
        display: inline-flex;
        cursor: pointer;
      }
      & .back {
        filter: invert(31%) sepia(85%) saturate(5682%) hue-rotate(213deg) brightness(102%)
          contrast(107%);
      }
    }

    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .product-list {
    flex-wrap: wrap;
    &-title {
      .title-icon {
        display: none;
      }
    }
  }
}
