$background: #171725;
$white: #ffffff;

$gray-05: #B5B5BE;
$gray-09: #FAFAFB; 

$blue-dark: #0062FF;
$shadow-low: 0px 12px 18px rgba(23, 23, 37, 0.04);
$shadow-high: 0px 20px 40px rgba(34, 43, 69, 0.1);